/COA/COA.sln
/COA/.vs
/COA/Binaries
/COA/DerivedDataCache
/COA/Intermediate
/COA/Saved
/COA/.vsconfig
/COA/Content/Characters/Mannequins
/Labwork2/.vs
/Labwork2/Binaries
/Labwork2/DerivedDataCache
/Labwork2/Intermediate
/Labwork2/Saved
/Labwork2/.vsconfig
/Labwork2/Labwork2.sln
/Labwork3/.idea
/Labwork3/.vs
/Labwork3/Binaries
/Labwork3/DerivedDataCache
/Labwork3/Intermediate
/Labwork3/Saved
/Labwork3/Labwork3.sln
/Labwork3/.vsconfig
/Homework4/.idea
/Homework4/.vs
/Homework4/DerivedDataCache
/Homework4/Intermediate
/Homework4/Saved
/Homework4/.vsconfig
/Homework4/Homework4.sln
/Homework4-Assignment2/DerivedDataCache
/Homework4-Assignment2/Intermediate
/Homework4-Assignment2/.idea
/Homework4-Assignment2/.vs
/Homework4-Assignment2/Saved
/Homework4-Assignment2/.vsconfig
/Homework4-Assignment2/Homework4.sln
